<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="Library_MgmtEntities" connectionString="metadata=res://*/Model.StoreP_Details.csdl|res://*/Model.StoreP_Details.ssdl|res://*/Model.StoreP_Details.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Library_Mgmt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Library_MgmtEntities1" connectionString="metadata=res://*/Model.StudentL_Details.csdl|res://*/Model.StudentL_Details.ssdl|res://*/Model.StudentL_Details.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Library_Mgmt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Library_MgmtEntities2" connectionString="metadata=res://*/Model.BookL_Details.csdl|res://*/Model.BookL_Details.ssdl|res://*/Model.BookL_Details.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Library_Mgmt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Library_MgmtEntities3" connectionString="metadata=res://*/Model.IssueL_Details.csdl|res://*/Model.IssueL_Details.ssdl|res://*/Model.IssueL_Details.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Library_Mgmt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Library_MgmtEntities4" connectionString="metadata=res://*/Model.UserL_Details.csdl|res://*/Model.UserL_Details.ssdl|res://*/Model.UserL_Details.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Library_Mgmt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
